body {
    background-color: #15202b;
    color: #fff;
    font-family: Arial, sans-serif;
}

a {
    color: #1da1f2;
}

textarea {
        background-color: #1c2938;
        color: #fff;
}
    
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
    
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
    
.profile-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
    
.profile-bio {
    font-size: 18px;
    margin-bottom: 20px;
}
    
.profile-social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
    
.profile-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #1da1f2;
    color: #fff;
    text-decoration: none;
}
    
.profile-social a:hover {
    background-color: #0d8bf0;
}
    
.profile-social a i {
    font-size: 20px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #1b076a;
    background-color: rgb(158, 159, 181);
    align-items: center;
    margin-bottom: 40px;
}
    
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
    
.section {
    margin-bottom: 40px;
}
    
.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
    
.section-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
    
.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1b076a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    bottom: 0;
    width: 100%;
    position: fixed;
}