<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style1.css') }}">
  <head>
    <title>Abdullah Kamal</title>
  </head>
  <body>
    <div class="profile">
      <h1>Abdullah's Profile</h1>
      <img src="#" alt="My Profile Picture">
      <h2>About Me</h2>
      <p>Hi, my name is Abdullah Kamal and I'm a Texas State University junior with a computer science and applied math major with a minor in communication studies. I love hiking and being able to try new and exotic things.</p>
      <h2>Contact Information</h2>
      <ul>
        <li>Email: aai27@txstate.edu</li>
        <li>Phone: (512) 650-5861</li>
      </ul>
    </div>
    <a href="/">
        <button class="button">Go Back Home</button>
    </a>
  </body>
</html>