<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style1.css') }}">
  <head>
    <title>Zachary Sotny</title>
  </head>
  <body>
    <div class="profile">
      <h1>My Profile</h1>
      <img src="https://media.licdn.com/dms/image/D5603AQFwfP0W3Vrovg/profile-displayphoto-shrink_800_800/0/1677449813006?e=1687996800&v=beta&t=gQntuMdHBG8ntBAmmV7PA2fVVWwcAvFKmuB22afXmto" alt="My Profile Picture">
      <h2>About Me</h2>
      <p>Hi, my name is Zachary Sotny and I'm a 3rd year senior at Texas State University. If I'm not coding, I'm listening to new music or watching an old show for the 100th time. I coded the NYT API function for this project. Hope you think our app is as cool as we do!</p>
      <h2>Contact Information</h2>
      <ul>
        <li>Email: zachsotny@txstate.edu</li>
      </ul>
    </div>
    <a href="/">
        <button class="button">Go Back Home</button>
    </a>
  </body>
</html>
